{% load staticfiles form bootstrap4 static sekizai_tags %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - My Django Application</title>
    {% render_block "css" %}
    {% addtoblock "css" %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}" />
    {% endaddtoblock %}
    {% render_block "js_head" %}
    {% addtoblock "js_head" %}
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
        {% bootstrap_javascript jquery='full' %}
    {% endaddtoblock %}
    {% addtoblock "js_ready" %}
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        <script src="{% static 'js/animate.js' %}"></script>
    {% endaddtoblock %}
</head>

<body>
    {% bootstrap_messages %}
    {{ menu }}
    <div class="container body-content">
    {% block content %}{% endblock %}
    {% block modal %}
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Оставить заявку</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    {% block form %}{% render_form %}{% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button form="form" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
        <hr/>
        <footer>
            <p>&copy; {{ year }} - My Django Application</p>
        </footer>
    {% render_block "js_ready" %}
</body>
</html>
